.leftbar-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: $sidebar-width;
}

.leftbar-activator {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.leftbar-closer {
  text-align: right;
}
