.ol-zoom, .ol-scale-line {
  border-radius: 0;
  padding: 0;
}

.ol-zoom {
  top: 8px;
  right: 8px;
  left: unset;
}

.ol-zoom .ol-zoom-in,
.ol-zoom .ol-zoom-out {
  border-radius: 0;
  margin: 0;
//  background-color: rgba(0, 107, 178, 1);
}

/*
.ol-control button:hover,
.ol-control button:active,
.ol-control button:focus {
  background-color: rgba(221, 153, 51, 1);;
}
*/

.ol-control button {
  height: 32px;
  width: 32px;
}

.ol-scale-line {
  right: 8px;
  bottom: 32px;
  left: unset;
  padding: 2px;
  // background-color: rgba(0, 107, 178, 1);
}

.ol-attribution.ol-uncollapsible {
  height: 1.5em;
}
