// Import OL styles
@import "~ol/ol.css";

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #006bb2;
$primary-invert: findColorInvert($primary);
$secondary: #dd9933;
$secondary-invert: findColorInvert($secondary);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "secondary": ($secondary, $secondary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "ol.overrides";
@import "./leftbar";
@import "./interactive-map";

html {
  overflow: auto;
}

$navbar-item-img-max-height: 2rem;

.navbar-item img {
  padding: 0 0.5rem 0 0;
}
