<template>
  <div class="leftbar" data-selector="leftbar">
    <div v-show="!isOpen" class="leftbar-activator" data-selector="leftbar.activator">
      <b-button size="is-medium" icon-left="menu" @click="open()"></b-button>
    </div>
    <transition :name="`slide-${isOpen ? 'next' : 'prev'}`">
      <div class="leftbar-bar has-background-white" v-show="isOpen">
        <div class="leftbar-closer">
          <b-button type="is-text" icon-right="close" data-selector="leftbar.closer" @click="close()" />
        </div>
      </div>
    </transition>
  </div>
</template>

<script lang="ts" src="./Leftbar.component.ts"></script>
