<template>
  <b-navbar :mobile-burger="false" :shadow="true">
    <template slot="brand">
      <div class="navbar-item">
        <img src="@/assets/a_vos_carte_logo.png" alt="logo a vos cartes" data-selector="navbar.image" />
        <h1 class="is-size-4" data-selector="navbar.title">Cartomobil'ité</h1>
      </div>
    </template>
  </b-navbar>
</template>

<script lang="ts" src="./Navbar.component.ts"></script>
